@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);

  --Inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--Inter);
  background-image: url('../src/assets/images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  /* VH significa viewport height (altura del dispositivo). También funciona como porcentaje, especificar 10vh es equivalente a ocupar 10% de la altura visible de la pantalla. */
  /* https://www.freecodecamp.org/espanol/news/aprende-unidades-de-medidad-css-em-rem-vh-y-vw-con-ejemplos-de-codigos/#:~:text=VH%20significa%20viewport%20height%20(altura,altura%20visible%20de%20la%20pantalla.&text=Si%20miras%20cuidadosamente%20puedes%20ver,la%20altura%20de%20la%20pantalla. */
  min-height: 100vh;
  margin: 10rem 0 0 0;
}
.container {
  border: 1px solid blue;
  width: 144rem;
  min-height: 100vh;
}
.container__info {
  border: 1px solid red;
  width: 64.3rem;
}
